OpenShift Pipelines Client: {{ .Opc }}
Tekton CLI: {{ .Tkn }}
Pipelines as Code CLI: {{ .Pac }}
Tekton Results CLI: {{ .Results }}
Manual Approval Gate CLI: {{ .ManualApprovalGate }}
Tekton Assist CLI: {{ .Assist }}
